<div class="container pad20">
  <h1 class="text-underline text-brand">Delicious cocktails. Listed</h1>
  <% @cocktails.each do |cocktail| %>
    <h3> <%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
  <% end %>
  <%= link_to "Add your cocktail", new_cocktail_path, class: "btn btn-primary pad20" %>
</div>
